/target
.project
.settings/
.classpath
/cache
/tdb-cache
/data-cache
/Clustering_coefficient.dat
/Degree.dat
/Centrality.dat
/Open_sameAs_chains.dat
/report.html
/log.txt
/Description_richness.dat
/results
/run-batch-christophe.sh~
